.borderEnd {
    border-right: 1px solid black;

    .btnColor {
        color: white;
        background-color: #020246;
        cursor: pointer;
        border-radius: 18px;

        &:hover {
            background-color: lighten($color: #020246, $amount: 10);
        }

        &.cycleColor {
            background-color: #024702;

            &:hover {
                background-color: lighten($color: #024702, $amount: 10);
            }
        }
    }
}